/* height × width / margin / padding / border / background / font*/

body {
  max-width: 700px;
  min-width: 330px;
  margin: auto;
  padding: 0.75em;
  background: #12351f;
  text-align: center;
  font-size: 16px;
  font-family: georgia, times;
  color: #e5982e;
}

.introText {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}

.checkingWinterBeerConditions {
  display: none;
  margin: auto;
  width: 90%;
}

.allQualifiers {
  display: none;
  margin: 1em 0em 0em -2.3em;
  padding: 0.25em;
  list-style-type: none;
  font-size: 1.5em;
}

button {
  margin-top: 2em;
  padding: 0.75em;
  border-style: none;
  border-radius: 0.5em;
  background: #e5982e;
  font-size: 1em;
  font-family: georgia, times;
  color: #12351f;
}

button:hover {
  background: #fca836;
}

.screwItBtn {
  display: none;
}

.answer {
  letter-spacing: 0.05em;
}

.afterIntroText {
  float: left;
  width: 100%;
}

.bottle {
  display: none;
  position: relative;
  float: right;
  width: 40%;
  left: -150%;
  transition: 1s;
}

.bottle:hover {
  transform: rotate(-0.05turn);
}

/* Bottle is represented/numbered here from top to bottom */

.btl {
  position: relative;
  margin: auto;
  background: linear-gradient(to right, #111111, #562403, #0c0b10);
}

.bottleTop1 {
  height: 5px;
  width: 54px;
  margin-bottom: -1px;
  border-radius: 2px;
  border-radius: 2px;
}

.bottleTop2 {
  height: 16px;
  width: 60px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.bottleTop3 {
  height: 8px;
  width: 60px;
  top: -1px;
  margin-bottom: -2px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.bottleTop4 {
  height: 17px;
  width: 51px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.line {
  background: #d3c7af;
}

.whiteLine1 {
  height: 4px;
  width: 51px;
  border-radius: 1px;
}

.labelBG {
  background: linear-gradient(to right, #0c2706, #094306, #0c2706);
}

.topLabel1 {
  height: 13px;
  width: 56px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.topLabel2 {
  height: 46px;
  width: 68px;
  margin-bottom: -12px;
  top: -12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.whiteLine2 {
  height: 4px;
  width: 68px;
  border-radius: 1px;
}

.neck1 {
  height: 45px;
  width: 87px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.neck2 {
  height: 20px;
  width: 101px;
  margin-bottom: -5px;
  top: -5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.neck3 {
  height: 45px;
  width: 140px;
  margin-bottom: -3px;
  top: -3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.whiteLine3 {
  height: 6px;
  width: 140px;
  border-radius: 0px;
}

.mainLabel {
  height: 168px;
  width: 140px;
  border-radius: 2px;
}

.labelCircle1 {
  height: 146px;
  width: 109px;
  margin-bottom: -164px;
  top: -164px;
  border-style: solid;
  border-width: 2px;
  border-radius: 42px;
  border-color: #dcca82;

}

.labelCircle2 {
  height: 142px;
  width: 105px;
  margin-bottom: -144px;
  top: -144px;
  border-style: solid;
  border-width: 2px;
  border-radius: 40px;
  border-color: #ad9056;
  background: #eaeac4;
}

.title {
  top: -40px;
  width: 110px;
  padding: 2px 15px 2px 15px;
  position: relative;
  background: linear-gradient(to right, #770c16, #d61a33, #5b000b);
  font-size: 16.5px;
  color: #d3c7af;
}

.whiteLine4 {
  height: 6px;
  width: 140px;
  margin-bottom: -8px;
  top: -8px;
}

.bottleBtm {
  height: 39px;
  width: 140px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  background: linear-gradient(to right, #313541, #562403, #0f0f0f);
}